@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,700;1,200;1,300;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

:root {
	--fontFamily: "Poppins";
	--titleFamily: "Oxygen";
	--fontBase: 16px;

	--black: #141d28;
	--primary: #02f8c0;
	--secondary: #02838a;
	--grey: #bbbdbc;
	--tertiary: #43605b;
	--context: #394cf8;
}

* {
	&,
	&:after,
	&:before {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
}

body {
	// opacity: 0;
	transition: opacity 200ms linear;
	font-family: var(--fontFamily, "sans-serif");
	font-weight: 300;

	overflow-x: hidden;

	&.loaded {
		opacity: 1;
	}

	color: var(--black, #000);

	#___gatsby,
	#gatsby-focus-wrapper {
		display: block;
		width: 100%;
		max-width: 100%;
		min-height: 100vh;
		overflow-x: hidden;
	}
}

a {
	text-decoration: none;
	line-height: 1;

	&:focus,
	&:visited,
	&:active {
		outline: 0;
	}
}

b,
strong {
	font-weight: 400;
}

button,
input,
select,
textarea,
datalist,
option {
	font-family: inherit;
	font-size: inherit;
}

#main {
	width: 100%;
	max-width: 100%;
	scroll-behavior: smooth;
	min-height: 60vh;
}

#markdown-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	p:not(:last-child) {
		margin-bottom: 20px;
	}

	img {
		width: 100%;
		max-width: 100%;
		object-fit: contain;
		border-radius: 10px;
	}

	ul,
	ol {
		padding-left: 1rem;

		li {
			margin-bottom: 10px;
		}
	}
}
