$Oxygen: "@src/assets/fonts/Oxygen/Oxygen-Regular.ttf";
$OxygenLight: "@src/assets/fonts/Oxygen/Oxygen-Light.ttf";
$OxygenBold: "@src/assets/fonts/Oxygen/Oxygen-Bold.ttf";

$Source1: "@src/assets/fonts/SansPro/SourceSansPro-Regular.ttf";
$Source2: "@src/assets/fonts/SansPro/SourceSansPro-Light.ttf";
$Source3: "@src/assets/fonts/SansPro/SourceSansPro-SemiBold.ttf";
$Source4: "@src/assets/fonts/SansPro/SourceSansPro-Bold.ttf";
$Source5: "@src/assets/fonts/SansPro/SourceSansPro-Black.ttf";

@font-face {
  font-family: "Oxygen";
  src: local("Oxygen"), url($Oxygen) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Oxygen";
  src: local("Oxygen"), url($OxygenLight) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Oxygen";
  src: local("Oxygen"), url($OxygenBold) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "SansPro";
  src: local("SansPro"), url($Source1) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "SansPro";
  src: local("SansPro"), url($Source2) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "SansPro";
  src: local("SansPro"), url($Source3) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "SansPro";
  src: local("SansPro"), url($Source4) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "SansPro";
  src: local("SansPro"), url($Source5) format("truetype");
  font-weight: 700;
}
